@font-face {
  font-family: 'bungee-spice';
  src: url(./BungeeSpice-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}


html {
  overflow-y: scroll;
}

a {
  color: black;
  text-decoration: none;
  font-weight: normal;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 100vw;
  height: 100vh;
}

form,
fieldset,
legend,
label {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  list-style-type: none;
}


header {
  width: 100vw;
  position: relative;
}

input {
  border: solid 1px #e5e7eb;
  border-radius: 4px;
  padding: 3px 5px;
}

input:focus {
  outline-style: solid;
  outline-color: blue;
  box-shadow: 0 4px 9px rgba(0, 0, 0, .2);
}

input:invalid,
input:invalid:focus {
  outline-color: red;
  outline-style: solid;
}

input:invalid {
  outline-width: 1px;
}

input:invalid:focus {
  outline-width: 2px;
}

legend {
  font-size: 20px;
  font-weight: 1000;
  margin-bottom: 1rem;
}

label {
  font-weight: 1000;
}

.index-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  position: relative;
  top: 0;
  width: 100vw;
  height: 3rem;
  background-color: silver;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-family: 'bungee-spice';
}

.hero-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  border-bottom: solid 1px;
  justify-content: center;
  align-items: center;
  background-image: url('./pexels-sevenstorm-juhaszimrus-439416.jpg');
  background-position: center center;
  background-size: cover;
}

.hero {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  background-color: #e5e7eb;
  border-radius: 30px;
  opacity: 0.9;
}

.hero-content {
  width: 77%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.hero-list h4 {
  margin-bottom: 1rem;
}

.hero-list {
  width: 88%;
}

.hero-content h3 {
  text-align: center;
}

.hero-button-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25%;
}

.hero-sign-up-button {
  background-color: #e9e9ed;
  border: 2px solid #bcbcc5;
  border-radius: 10px;
  width: 60%;
  height: 50%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-up-body {
  display: flex;
  flex-direction: column;
}

.sign-up-image {
  background-image: url('./pexels-philipp-silbernagl-962889.jpg');
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.image-banner {
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.banner-logo {
  font-size: 8vw;
}

.image-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  margin: 1%;
}

.sign-up-mobile {
  height: 100%;
  width: 75%;
  background-color: white;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up-prompt {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-prompt>p {
  font-weight: 800;
  font-size: 0.7rem;
}

.sign-up-section {
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 0 4px 9px rgba(0, 0, 0, .2);
}


.sign-up-submit {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1rem;
}


.sign-up-submit button {
  margin-bottom: 3%;
}

.colored-section {
  background-color: #f9fafb;
}

.sign-up-widescreen {
  display: none;
}

.input-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
}

.input-section input {
  width: 100%;
}

.underline {
  text-decoration: underline;
}

.sign-up-submit-button {
  z-index: 0;
  height: 100%;
  background-color: #596D48;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.button-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 50%;
}

.account-exists-side {
  display: flex;

  text-align: center;
  justify-content: center;
  align-items: flex-start;
}

.input-list {
  list-style-type: none;
}

.account-exist-link {
  color: #596D48
}

.password-match-prompt {
  font-size: 15px;
  margin-top: 2px;
}

@media only screen and (min-width: 550px) {
  label {
    font-size: 13px;
  }

  legend {
    font-size: 20px;
  }

  fieldset {
    margin-bottom: 1rem;
  }

  a:default {
    color: black;
  }

  a:hover,
  a:visited:hover {
    color: red;
    border-color: red;
    opacity: 1;
  }

  .hero-sign-up-button {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
  }

  .input-section input {
    width: 70%;
    height: 80%;
  }

  .hero {
    width: 75%;
    height: 75%;
    padding: 1rem;
  }

  .homepage-logo {
    font-size: 60px;
  }

  .nav {
    position: relative;
    height: 4rem;
  }

  .hero-section {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }

  .hero-list>* {
    font-size: 26px;
    text-align: center;
    margin-bottom: 1rem;
  }

  .hero-header {
    font-size: 30px;
  }

  .hero p {
    font-size: 20px;
  }

  .hero-content {
    justify-content: space-between;
  }

  .hero-button-section {
    justify-content: space-evenly;
  }

  .sign-up-body {
    flex-direction: row;
  }

  .sign-up-image {
    width: 50vw;
    height: 100vh;
  }

  .image-banner {
    position: absolute;
    top: 20%;
  }

  .sign-up-mobile {
    display: none;
  }

  .sign-up-widescreen {
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .colored-section {
    display: flex;
    height: 100%;
  }

  .sign-up-form {
    height: 100vh;
  }

  .sign-up-prompt {
    padding: 2rem 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .sign-up-section {
    display: flex;
    height: 100%;
    padding-left: 3rem;
    padding-top: 1rem;
  }

  .sign-up-content {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .input-section {
    margin: 0;
    padding: 0;
    width: 100%;

  }

  .input-list {
    display: flex;
    width: 100%;
    justify-content: flex-start;

  }

  #confirm-password-widescreen {
    height: 27px;
  }

  .sign-up-submit {
    padding: 2rem 3rem;
    display: flex;

    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .sign-up-prompt p {
    width: 75%;
    font-size: 100%;
  }

  .sign-up-submit-button {
    border-radius: 5px;
    width: 100%;
    height: 30%;
    font-weight: 1000;
  }

  .submit-section-left {
    height: 100%;
  }

  .image-footer {
    position: absolute;
    bottom: 0;
  }

}